<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Isopoh.Cryptography.Argon2" version="2.0.0" targetFramework="net472" />
  <package id="Isopoh.Cryptography.Blake2b" version="2.0.0" targetFramework="net472" />
  <package id="Isopoh.Cryptography.SecureArray" version="2.0.0" targetFramework="net472" />
</packages>